<footer class="footer footer-custom py-3 mt-auto"> 
    <div class="container">
        <span class="text-muted">SpaceCamp 2025</span>
        <a class="navbar-brand" href="#">
            <img src="https://res.cloudinary.com/hamaf/image/upload/v1660341982/YelpCamp/logoSP_nt9dno.png" alt="" width="30" height="24" class="d-inline-block align-text-top" style="margin-left: 1em;">
          </a>
    </div>
</footer>

