body {
    /* This is what makes the background image rescale based
          on the container's size */
          background-size: cover;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: black;
    overflow: hidden;
  
    /* Location of the image */
    background-image:url('https://images.unsplash.com/photo-1606125784258-570fc63c22c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3461&q=80') ;
  }  